h1 {
  color: blue;
  font-size: 300%;
  padding: 3%;
  display: inline;
  position: relative;
  top: 10px;
  
}

#title {
  height: 50%;
  width: 50%;
  padding: 1%;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit", sans-serif;
  background-image: url("../imgs/back.gif");
}

#credits {
  display: flex;
  position: relative;
  top: 40px;
  border: 2px darkgrey;
  flex-direction: row;
  padding: 10px;
  list-style: none;
  background-color: black;
  border-radius: 25%;
  

  
}

#credits li a {
  padding: 5px;
  text-decoration: none;
  color: darkgrey;
}

#credits li {
  font-size: 120%;
  color: darkgrey;
}

#canvas {
  border: 4px solid darkgrey;
  background-image: url("../imgs/backgrnd2.jpeg");
  /* background-position: bottom; */
}


#popup {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30%;
    background-color: darkgrey;
    border: 4px solid black;
    border-radius: 5%;
    width: 60%;
    // border-top-left-radius: 25%;
    // border-top-right-radius: 25%;
}

#popup:hover {
    background-color: ivory;
}

h3 {
    font-size: 120%;
    font-weight: bold;
}

#desc {
    padding-bottom: 4%;
}
h5{
    background: black;
    color: ivory;
    border-radius: 9%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 4px;
}
#left ul li {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}

#left{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    width: 125%;
    padding-top: 5%;
    padding-bottom: 5.1%;
}

#left h3{
    margin-bottom: 5%;
    margin-top: 5%;
}

#right h3{
    padding-bottom: 3%;
}


#left ul{
    padding-bottom: 10%;
}

#right {
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 3%;
}

#left li p {
    padding-left: 3px;
    display: flex;
    text-align: right;
    color: blue;
}

